p{
    color: saddlebrown;
    font-size: medium;

}
body{
    background-color: moccasin;
    color: saddlebrown;
    font-family: cursive;
    font-size: medium;
}
h1{
    color: saddlebrown;
    font-family: cursive;
    font-size: x-large;
}